*.zip
HW1/README.txt
HW2/nltk_data/corpora/reuters/training
HW2/nltk_data/corpora/reuters/test
HW2/blocks
dictionary-file
postings-file
HW2/__pycache__
dictionary.txt
postings.txt
HW2/A0189690L-A0190198W
HW3/nltk_data/corpora/reuters/training
HW3/__pycache__
HW3/blocks
